<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            {% block title %} House48WithDjangoHtmx {% endblock  %} 
        </title>
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <c-NavBar/>

        <div class="p-6">
            {% block content %}
            {% endblock %}
        </div>

        <c-FooterBar/>
    </body>

</html>