{% extends "TallBasePage.html" %}

{% block title %}
    Here
{% endblock title %}

{% block centre_content_area %}

    <h1>
        Lots Of Writing
    </h1>

    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>

    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>
    <p class="py-3 md:py-0 text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur at viverra justo. In ut tellus laoreet, iaculis velit in, imperdiet.
    </p>

{% endblock centre_content_area %}
