@import "tailwindcss/base";
@import "tailwindcss/base";
@import "tailwindcss/base";

/*
this file does not actually do anything
it is just needed so that the taailwind intellisense vscode extension works correctly
*/